.nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 1.5em;
  align-items: center;
  padding-left: 1.5em;
  padding-right: 1.5em;
  background-color: #070c1d;
  overflow: hidden;
  height: 6em;
}

ion-item::part(native) {
  --background-hover: none;
  --background: none;
}
